
.form-container{
    background-color: var(--bg2-color);
    padding: 20px;
    border: 2px dotted var(--s-color);
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 20px;
}

form{
    display: flex;
    flex-direction: column;
}

form input, textarea, button{
    margin: 10px;
}

button{
    all: unset;
    margin-top: 20px;
    align-self: center;
}

input, textarea{
    height: 20px;
    border-radius: 4px;
    border: 1px solid var(--s-color);
}

.info-container{
    background-color: var(--bg2-color);
    padding: 20px;
    border: 2px dotted var(--s-color);
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 20px;
    text-align: center;
    height: 40vh;
}
